.btn {
  @apply text-inherit uppercase py-[0.8rem] px-[1.6rem] font-inherit text-xl border-none rounded-lg cursor-pointer;

  &.primary {
    @apply font-bold bg-brand-green text-dark-2;
  }

  &.back {
    @apply font-semibold bg-none;
    border: 1px solid currentColor;
  }

  &.position {
    @apply font-bold absolute z-[1000] text-[1.4rem] bottom-16 left-1/2 -translate-x-1/2 bg-brand-green text-dark-2;
    font-weight: 700;
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
  }
}
